{{>header}}
    <title>All Record</title>
    {{>navbar}}
    <div class="contaniner">
        <h1 class="bg-success text-light text-center mt-2 p-2">CRUD Application
            <a href="/add">s<span class="material-symbols-outlined">add</span></a>
        </h1>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Salary</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Designation</th>
                    <th>City</th>
                    <th></th>
                    <th></th>
                </tr>
                {{#each data}}
                <tr>
                    <td>{{employeeId}}</td>
                    <td>
                        {{#if profilePicture}}
                            <img src="/uploads/{{profilePicture}}" alt="{{name}}" class="img-thumbnail" style="width: 50px; height: 50px; object-fit: cover;">
                        {{else}}
                            <div class="bg-light rounded d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
                                <span class="material-symbols-outlined text-muted" style="font-size: 1.5rem;">person</span>
                            </div>
                        {{/if}}
                    </td>
                    <td><a href="/employee/{{_id}}" class="text-decoration-none text-primary fw-bold">{{name}}</a></td>
                    <td>{{age}}</td>
                    <td>{{salary}}</td>
                    <td>{{email}}</td>
                    <td>{{phone}}</td>
                    <td>{{desig}}</td>
                    <td>{{city}}</td>
                    <td><a href='/update/{{_id}}'><span class="material-symbols-outlined">edit</span></a></td>
                    <td><a href='/delete/{{_id}}'><span class="material-symbols-outlined">delete_forever</span></a></td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    {{>footer}}